body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}
.img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}
.btn {
  background-color: #2172e5;
  margin: 2px 0;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 12px 18px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  opacity: 0.8;
}
.text-connect {
  color: #222;
  font-weight: bold;
}
.text {
  color: red;
  margin-top: 20px;
  text-align: center;
}

.content {
  color: green;
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;
  border: 1px solid black;
  padding: 10px;
}
